
![alt text](https://i.imgur.com/HRhd2Y0.png)

In [5]:
import pandas as pd

from functions import find_csv_files, load_csvs_to_dict, sort_and_classify_column

DATA_PATH = "/Users/typhaine/Documents/Doc_Gorilla/OpenClassroom--Machine-Learning-Engineer/P4/data"

csv_files = find_csv_files(DATA_PATH)

dfs = load_csvs_to_dict(csv_files)

In [6]:
recency_df = sort_and_classify_column(dfs["olist_orders_dataset"], column_name = "order_purchase_timestamp", datetime = True)
recency_df

                               order_id  ... order_purchase_timestamp_class
4541   2e7a8482f6fb09756ca50c10d7bfc047  ...                            Low
4396   e5fa5a7210941f7d56d0208e4e071d35  ...                            Low
10071  809a282bbd5dbcabb6f2f724fca862ec  ...                            Low
30710  bfbd0f9bdef84302105ad712db648a6c  ...                            Low
83078  71303d7e93b399f5bcd537d124c0bcfa  ...                            Low
...                                 ...  ...                            ...
50387  392ed9afd714e3c74767d0c4d3e3f477  ...                           High
88500  616fa7d4871b87832197b2a137a115d2  ...                           High
31891  a2ac6dad85cf8af5b0afb510a240fe8c  ...                           High
68373  b059ee4de278302d550a3035c4cdb740  ...                           High
60938  10a045cdf6a5650c21e9cfeb60384c16  ...                           High

[99441 rows x 9 columns]

In [7]:
frequency_df = dfs["olist_orders_dataset"].merge(dfs["olist_customers_dataset"], on = "customer_id").groupby(by = "customer_unique_id").count().reset_index().loc[:, ["customer_unique_id" ,"order_id"]]
frequency_df = sort_and_classify_column(frequency_df, column_name = "order_id")
frequency_df

                     customer_unique_id  order_id order_id_class
0      0000366f3b9a7992bf8c76cfdf3221e2         1            Low
63580  a926cfc9bc7b082335de50450f48eec9         1            Low
63579  a926aae38267e7f54e67de9b5775d0a5         1            Low
63578  a92605ec492805540520d3a73aaeeb6e         1            Low
63577  a925c3e5df82fdc6082f1383d2834998         1            Low
...                                 ...       ...            ...
76082  ca77025e7201e3b30c44b472ff346268         7         Medium
37797  6469f99c1f9dfae7733b25662e7f1782         7         Medium
10354  1b6c7548a2a1f9037c1fd3ddfed95f33         7         Medium
23472  3e43e6105506432c953e165fb2acf44c         9         Medium
52973  8d50f5eadf50201ccdcedfb9e2ac8455        17           High

[96096 rows x 3 columns]

In [8]:
per_order_payment = dfs["olist_order_payments_dataset"].groupby(by = "order_id").sum().reset_index()
monetary_df = dfs["olist_orders_dataset"].merge(per_order_payment, on = "order_id")
monetary_df = sort_and_classify_column(monetary_df, column_name = "payment_value")
monetary_df

                               order_id  ... payment_value_class
40234  c8c528189310eaa44a745b8d9d26908b  ...                 Low
39918  4637ca194b6387e2d538dc89b124b0ee  ...                 Low
1130   00b1cb0320190ca0daa2c88b35206009  ...                 Low
95517  f1d5c2e6867fa93ceee9ef9b34a53cbf  ...                 Low
11601  e8bbc1d69fee39eee4c72cb5c969e39d  ...                 Low
...                                 ...  ...                 ...
3508   f5136e38d1a14a4dbd87dff67da82701  ...              Medium
28326  fefacc66af859508bf1a7934eab1e97f  ...              Medium
22171  0812eb902a67711a1cb742b3cdaa65ae  ...              Medium
66598  736e1922ae60d0d6a89247b851902527  ...              Medium
13390  03caa2c082116e1d31e67e9ae3700499  ...                High

[99440 rows x 13 columns]

In [11]:
#recency_df.merge()
dfs["olist_customers_dataset"].merge(frequency_df, on = "customer_unique_id")

                            customer_id  ... order_id_class
0      06b8999e2fba1a1fbc88172c00ba8bc7  ...            Low
1      18955e83d337fd6b2def6b18a428ac77  ...            Low
2      4e7b3e00288586ebd08712fdd0374a03  ...            Low
3      b2b6027bc5c5109e529d4dc6358b12c3  ...            Low
4      4f2d8ab171c80ec8364f7c12e35b23ad  ...            Low
...                                 ...  ...            ...
99436  17ddf5dd5d51696bb3d7c6291687be6f  ...            Low
99437  e7b71a9017aa05c9a7fd292d714858e8  ...            Low
99438  5e28dfe12db7fb50a4b2f691faecea5e  ...            Low
99439  56b18e2166679b8a959d72dd06da27f9  ...            Low
99440  274fa6071e5e17fe303b9748641082c8  ...            Low

[99441 rows x 7 columns]